<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>About Page</h1>
    <p>Empty Dummy Page. May be filled with content at a later stage.</p>
    <%- include('./partials/footer.ejs') %>
</body>
</html>