<nav>
    <div class="site-title">
        <a href="/"><h1>Events in Auckland, NZ</h1></a>
    </div>
    <ul>
        <li><a href="/">Events</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/events/create">New Event</a></li>
    </ul>
</nav>
